<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="mcaprctConnectionString" connectionString="Data Source=LAPTOP-41JP7C5M\sqlexpress;Initial Catalog=mcaprct;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CourseWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50863/CourseWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CourseWebServiceSoap"
                contract="ServiceReference1.CourseWebServiceSoap" name="CourseWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
