
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Greeting Hello world(from the view)</h1>
        @Html.ActionLink("Customer Input Link","CustomerInput")
    </div>
</body>
</html>
