
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
       
    </style>
</head>

<body >
    
        <div class="text-center">
            <b>Customer Information System to display all the customers details.</b>
            <div class="btn-success">
                @Html.ActionLink("CustomerInputLink", "CustomerInput")
            </div>
    </div>
</body>
</html>
